[Unit]
Description=Compiles the Weather and Test Pattern image for the Kindling display
Wants=kindling-weather.timer

[Service]
Type=oneshot
WorkingDirectory=/home/drone/development/kindling/
ExecStart=/home/drone/development/kindling/systemd/scripts/fire.sh

[Install]
WantedBy=multi-user.target
